# ignore stub build_info.go by default, so that generated content doesn't
# get committed
build_info.go

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cbp

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
